#site_header {
  background-color: #6E1011;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  height: 100px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#site_main {
  background-color: black;
}
#site_main .table {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

img {
  width: 250px;
  height: 350px;
}

li {
  list-style-type: none;
  margin: 0 20px;
}

#site_main {
  background-color: black;
}
#site_main .movie {
  padding: 20px;
}
#site_main .movie .info {
  display: flex;
  align-items: center;
  border: 5px solid #6E1011;
  background-color: black;
  color: white;
}
#site_main .movie .info img {
  border-right: 5px solid #6E1011;
}
#site_main .movie .info .text h1 {
  border: none;
  color: white;
  font-size: 40px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 5rem;
  background-color: black;
  text-align: center;
  padding: 20px;
}

.post {
  padding-top: 70px;
}
.post .lead {
  font-family: "Gentium Basic", serif;
  font-size: 30px;
  margin-top: 20px;
  color: white;
}
.post img {
  border: 5px solid #6E1011;
}

.delete {
  text-align: center;
  padding: 50px 0;
}

a {
  color: white;
  font-size: 21px;
}

h1 {
  color: #6E1011;
}