#site_header {
  background-color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
}

#site_main {
  background-color: #a2d0ec;
}
#site_main .table {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

img {
  width: 250px;
  height: 350px;
}

li {
  list-style-type: none;
  margin: 0 20px;
}

#site_main .jumbotron {
  background-image: url("../img/home.jpg");
  background-size: cover;
  height: 1000px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 5rem;
  background-color: black;
  text-align: center;
  padding: 20px;
}

.post {
  padding-top: 70px;
}
.post .lead {
  font-family: "Gentium Basic", serif;
  font-size: 30px;
  margin-top: 20px;
}

.delete {
  text-align: center;
  padding: 50px 0;
}