
#site_main{
   
       
    
   background-color: black;
    .movie{
        padding: 20px;
    
    .info{
        display: flex;
        align-items: center;
        border: 5px solid $header_bg;
        background-color: black;
        color: white;
        img{
            border-right: 5px solid $header_bg;
        }
        .text{
            
            h1{
            border:none;
            
            color:white;
            font-size:40px;
            }
            
        }
    }
        
    }

}

